  {% extends "header.html" %}
  {% load static %} 
   {% block  content %}
    

    <div class="container">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>Ajouter Consultation</h3>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

   <h3>Avez vous sur </h3>

  <form method="post">
   {% csrf_token %}
   <a href="{% url 'home' %}">Retoure</a>
<div class="col-6">

               <button type="submit" class="btn btn-primary pull-right">Delet</button>
               </div>

                    
                </div>
      </div>
  </form>
</div>

    {% endblock %}