 {% extends "header.html" %}


     {% block  content %}    
     <br> 
        <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>List des Consultations</h3>
          </div>
          <div class="col-sm-6 ">
            <a class="btn btn-primary float-sm-right" href="{% url 'AjoutConsultation' %}">Ajouter</a>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
        
        <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nom Patient</th>
            <th scope="col">Date naissance</th>
            <th scope="col">Date Consultation</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for C in Consult%}
          <tr>
            <th scope="row">{{C.nom}}</th>
            <td>{{C.Date_Naissance}}</td>
            <td>{{C.Date_Consultation}}</td>
            <td>
            <a class="btn" style="background-color : #F1C40F" >Edite</a>
            <a class="btn btn-danger">Delet</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      
  {% endblock %}